<?xml version="1.0" encoding="UTF-8"?>

<project>
{% set vars = dict %}
{% for proj,node_data in vars.iteritems() %}
{% for node in node_data %}
  <node
    name="{{hostvars[node].ansible_nodename}}" 
    hostname="{{hostvars[node].ansible_hostname}}"
    osArch="{{hostvars[node].ansible_architecture}} "
    osName="{{hostvars[node].ansible_distribution}} "
    osFamily="{{hostvars[node].ansible_os_family}}"
    osVersion="{{hostvars[node].ansible_kernel}}"
{% for key,data in node_data[node].iteritems() %}
{% if key == 'tags' %}
    {{key}}="{{data|join(',')}}"
{% else %}
    {{key}}="{{data}}"
{% endif %}
{% endfor %}
  />
{% endfor %}{% endfor %}
</project>
