<?xml version="1.0" encoding="UTF-8"?>

<project>
{% set vars = item.value %}
{% for node in vars.iteritems()  %}
  <node
    name="{{hostvars[node].ansible_nodename}}" 
    hostname="{{hostvars[node].ansible_hostname}}"
    osArch="{{hostvars[node].ansible_architecture}} "
    osName="{{hostvars[node].ansible_distribution}} "
    osFamily="{{hostvars[node].ansible_os_family}}"
    osVersion="{{hostvars[node].ansible_kernel}}"
{% for key,data in vars[node].iteritems() %}
{% if key == 'tags' %}
    {{key}}="{{data|join(',')}}"
{% else %}
    {{key}}="{{data}}"
{% endif %}
{% endfor %}
  />
{% endfor %}
</project>
