{% for name,value in rundeck_projects.iteritems() %}
{% if value.rebound_usage == 'yes' %}
{% for node in groups[name+'-nodes'] %}
HOST {{hostvars[node].ansible_nodename}}
  IdentityFile {{value.rebound_key|default('~/.ssh/id_rsa')}}
  User {{value.rebound_user|default('root')}}
  ProxyCommand ssh -q {{value.rebound_host}} nc %h {{value.rebound_port|default('22')}}
{% endfor %}
{% endif %}
{% endfor %}
